li.btn{
    display: inline-flex;
    list-style: square;
}
a{
    text-decoration: none;
}

p.site{
   font-size: 30px;
   color: white;
   margin-top: 25px;
}

header p.site{
	display: inline-block;
	vertical-align: top;
}

header nav.menu-nav{
	display: inline-block;
	vertical-align: top;
}

header nav.navbar{
	display: inline-block;
    background-color: #12B29C;
}

header{
    background-color: #12B29C;
    padding: 5px;
    padding-bottom: 15px;
}

p{
    color: white;
}

h1{
    color: white
}
body{
    background-color: #1F242D;
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.rightbox{
    display: block;
}
/*
  Styles footer
*/
.footerbgr{
	background-color: #111313;
	padding: 5px;
    padding-bottom: 50px;
    
}
div p.footer{
	color: white;
	padding-left: 35%;
    display: inline-block;
}

/* 
  Styles menu nav^^
*/
nav.menu-nav ul li.btn{
	list-style-type: none;
	display: inline-block;
	font-size: 25px;
    vertical-align: middle;
    margin-top: 15px;
    text-align: center;
}
nav.menu-nav ul li.btn a{
	color: white;
	background-color: #12B29C;
	text-decoration: none;
	padding: 5px;
    margin-top: 15px;
}
nav.menu-nav ul li.btn:hover a{
	background-color: white;
	transition: 0.4s all;
	color:  #FF0101;
}

nav.menu-nav{
    margin-left: 600px;
}

img.logo {
	width: 80px;
	height: 80px;
}

header img.logo{
	border-radius: 50%;
}

/* 
  Mais div zebi
*/


div#content div{
   display: inline-block;
   width: 49%;
}

div#content div.leftbox{
    vertical-align: top;
}
div#content div.leftbox h1, p{
	margin: 10px;
	color: white;
}

div#content div.rigthbox{
	color: white;
    margin-top: 200px;
}

div#content div.midle{
	color: white;
    text-align: center;
}
h1.zebi{
    text-align: center;
    margin-top: 100px;
}

.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: #12B29C;
    scrollbar-width: thin;
  }

  nav.addme ul li.btnadd{
	list-style-type: none;
	display: inline-block;
	font-size: 25px;
    vertical-align: middle;
    margin-top: 15px;
    text-align: center;
}
nav.addme ul li.btnadd a{
	color: white;
	background-color: #12B29C;
	text-decoration: none;
	padding: 5px;
    margin-top: 15px;
}
nav.addme ul li.btnadd:hover a{
	background-color: white;
	transition: 0.4s all;
	color:  #FF0101;
}

.bgr{
    background-color: #171a20;
}

.textcenter{
    text-align: center;
}

.margintop{
    margin-top: 100px;
}

strong.embed{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 15%;
}

.btn-outline-primary{
    padding: 15pw;
}

footer div.dropdown{
    display: inline-block;
    vertical-align: top;
    margin-left: 300px;

}

.cyan{
    background-color: #12B29C;
}

.contentcenter{
    align-content: center;
}

.test{
    text-align:justify;
}

.cmdname{
    background-color: #181c24;
}

.cmddesc{
    background-color: #13161b;
}

.cmdusage{
    background-color: #0e1014;
}

.machin{
    background-color: #010102
}

.marginbottom{
    margin-bottom: 100px;
}

.bg-lights{
    background-color: #ff00ff;
}

h1 div.btn-group{
    display: block;
}

.btn{
    padding-left: 50px;
    padding-right: 50px;
}

.color-dark{
    color: black;
}

.color-white{
    color: white; 
}

.bgr-dark2{
    background-color: #111313;
}